@font-face { 
  font-family: 'neon'; 
  src: 
    local(※),
    url('./neodgm.ttf') format('truetype'),
    url('./neodgm.woff') format('woff'),
    url('./neodgm.woff2') format('woff2');
  font-weight: normal; 
  font-style: normal; 
}